<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
           {{>header}}
            <img class="portrait" src="img/rahul.jpg" alt="Rahul Krishna K A">
        </div>
        {{>footer}}
    </body>
</html>